body {
    margin: 0;
    padding: 0;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}

.heading {
    text-align: center;
    margin-top: 40px;
}

.heading h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.heading p {
    font-size: 24px;
    color: #777;
    font-style: italic;
    margin-bottom: 40px;
}

.entries {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entries h2 {
    margin-top: 0;
    font-size: 32px;
    margin-bottom: 10px;
    
}

.staff {
    width: 190.3px;
    margin: 0px 30px;
    padding: 73px 30px 53px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center
}

.client {
    width: 190.3px;
    margin: 0px 30px;
    padding: 29px 30px 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center
}

.client h2 {
    margin-bottom: 20px;
}

.owner {
    margin: 0px 30px;
    padding: 73px 30px 53px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center
}

.btns button {
    display: block;
    margin: 20px auto;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.staff button {
    width: 130px;
}

.client button {
    width: 150px;
    margin: 10px auto;
}

.owner button {
    width: 190px;
}

.btns button:hover {
    background-color: #0062cc;
}