h1 {
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 30px;
}

form {
    width: 60%;
}

table {
    display: flex;
    justify-content: space-around;
    margin: 0px 20px;
    padding: 15px 20px 0px;
    border: 1px solid black;
}

tbody {
    width: 100%;
}

tr {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.innertable {
    margin: 0;
    border: 0;
}

.innertable td {
    margin: 0 10px;
}

.innertable tr {
    justify-content: space-between;
}

input {
    width: 150px;
}

.btn_div {
    display: flex;
    justify-content: center;
}

button {
    margin-left: 19px;
    padding: 10px 20px;
    border: 1px solid darkblue;
    border-radius: 15px;
    background-color: darkblue;
    color: white;
}

button:hover {
    cursor: pointer;
    color: darkblue;
    background-color: white;
}